html, body {
  height: 100%; 
  width: 100%; 
  padding: 0; 
  margin: 0; 
  display: flex;
}

meni {
  margin: 10px;
}


table {
  border-spacing: 0 10px;
}

button {
  background: white;
}

telo {
  flex: 1;
  margin: 10px;
  overflow: visible;
  padding: 10px;
  display: inline-block;;
  background-color: lightgray;
}

.rob {
  border: 1px solid transparent;
  border-color: black;
  border-radius: 4px;
}

.senca {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}